html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: 80px;
}
.navbar {
	border-radius: 0px;
	box-shadow: 0px -2px 10px black;
}
.navbar-nav>li>a {
	line-height: inherit !important;
}
.navbar-brand {
	padding-top: 2px;
}
.navbar-brand:hover {
	background: inherit !important;
}
.container-behind-nav {
	margin-top: 60px;
}
.label-as-badge {
	border-radius: 1em;
}
.page-header {
	padding-bottom: 20px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 80px;
	background-color: #eeeeee;
}
.footer p {
	margin-top: 20px;
}
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
	padding-right: 17px;
}
.modal:nth-of-type(even) {
	z-index: 1042 !important;
}
.modal-backdrop.in:nth-of-type(even) {
	z-index: 1041 !important;
}
#toast-container > div {
	opacity: 1; 
}
#tags .label {
	display: inline-block;
	height: 25px;
	line-height: 20px;
	margin: 8px 4px 0px 0px;
}
.book {
	margin: 0 10px 20px 10px;
}
.book a {
	text-decoration: none;
}
.book .thumbnail {
	position: relative;
	padding-top: 10px;
}
.book .label-as-badge {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 12pt;
	padding: .25em .5em .25em .5em;
}
#quotesGrid blockquote {
	margin: 0 10px 40px 10px;
}
#booksGrid, #quotesGrid {
	margin: 0 -10px 0 -10px;
}
@media screen and (max-width: 480px) {
	#booksGrid[data-columns]::before {
		content: '1 .column.size-1of1';
	}
}
@media screen and (min-width: 481px) and (max-width: 768px) {
	#booksGrid[data-columns]::before {
		content: '2 .column.size-1of2';
	}
}
@media screen and (min-width: 769px) {
	#booksGrid[data-columns]::before {
		content: '3 .column.size-1of3';
	}
}
@media screen and (max-width: 991px) {
	#quotesGrid[data-columns]::before {
		content: '1 .column.size-1of1';
	}
}
@media screen and (min-width: 992px) {
	#quotesGrid[data-columns]::before {
		content: '2 .column.size-1of2';
	}
}
.column { float: left; }
.size-1of1 { width: 100%; }
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.333%; }
.size-1of4 { width: 25%; }