<link rel="shortcut icon" href="favicon.ico"/> 
<link rel="apple-touch-icon" href="icon/icon60.png">
<link rel="apple-touch-icon" sizes="76x76" href="icon/icon76.png">
<link rel="apple-touch-icon" sizes="120x120" href="icon/icon120.png">
<link rel="apple-touch-icon" sizes="152x152" href="icon/icon152.png">