 <footer class="footer">
 	<div class="container">
 		<p class="text-center">
 			©
	 		<script type="text/javascript">
	 			document.write(new Date().getFullYear())
	 		</script>
	 		&nbsp;Просто цитатник
	 		<br>

	 	<small><a href="http://radiokot.com.ua">radiokot.com.ua</a></small>
	 	</p>
 	</div>
 </footer>