<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="./css/bootstrap.min.css">
<link rel="stylesheet" href="./css/style.css">
<link href="https://fonts.googleapis.com/css?family=Noto+Serif%7CRoboto+Condensed:400,700&amp;subset=cyrillic" rel="stylesheet">
<script src="./js/tools/jquery-3.1.1.min.js"></script>
<script src="./js/tools/bootstrap.min.js"></script>
<link rel="shortcut icon" href="/favicon.ico"/> 
<link rel="apple-touch-icon" href="/icon/icon60.png">
<link rel="apple-touch-icon" sizes="76x76" href="/icon/icon76.png">
<link rel="apple-touch-icon" sizes="120x120" href="/icon/icon120.png">
<link rel="apple-touch-icon" sizes="152x152" href="/icon/icon152.png">